//Import Variables //
@import './variables/__all';

//Import Mixins //
@import './mixins/__all';

// Import Utils //
@import './util/__all';

// Import Components //
@import './components/__all';

// Import Sections //
@import './sections/__all';

body {
    position: relative;
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden !important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
}

#pp-nav {
    position: fixed;
    z-index: 14;
    background-color: $color-primary;
    padding: 8px 0px 10px 2px;
    transform: translateY(-10%);
    box-shadow: -4px 3px black;
    animation: fadeInRight 1s;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
    opacity: .8;
    transition: opacity 0.4s;
    
    @media screen and (max-width: 768px){
        opacity: 0 !important;
        display: none !important;
    }
    
    @media screen and (min-width: 1024px) and (min-height: 1300px){
        opacity: 0 !important;
        display: none !important;
    }


    &:hover{
        opacity: 1;
    }

    li {
        margin: 4px;

        a {

            span{
                border-color: #fff !important;
                border-width: 1.3px;
                width: 8px;
                height: 8px;
                
                @media screen and (max-width: 1080px){
                    width: 7px;
                    height: 7px;
                }
            }

            &.active {
                span {
                    background-color: #fff;
                    @include transition();
                }
            }
        }
    }
}
