.ciclos {
    position: relative;
    min-height: 100vh;

    @media screen and (max-width: $bp-SM) {
        min-height: calc(100vh - 110px);
        padding-bottom: 80px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 388px;
        width: 100vw;
        height: 0.3px;
        opacity: 0.4;
        background-color: $color-primary;
        @media screen and (max-width: 1025px) {
            height: 1px;
            opacity: 0.7;
        }
        @media screen and (max-width: $bp-SM) {
            top: 312px;
        }

    }

    &::before {
        content: '';
        @media screen and (max-width: 1025px) {
            position: absolute;
            top: 40px;
            width: 100vw;
            height: 8px;
            opacity: 1;
            background-color: $color-primary;
        }
    }

    .textura {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 8;

        pointer-events: none;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 99vw;
            height: 100vh;
        }
    }

    .scroll {
        position: absolute;
        bottom: 20px;
        left: 8vw;
        z-index: 13;
        @include transition();
        &:hover {
            bottom: 30px;
        }
        @media screen and (max-width: $bp-SM) {
            left: 15vw;
            bottom: 110px;
        }

        img {
            width: 20px;
            @media screen and (max-width: 1025px) {
                width: 23px;
            }
            @media screen and (max-width: $bp-SM) {
                width: 15px;
            }
        }

    }

    &__header {
        padding-top: 60px;

        .title {
            color: $color-primary;
            letter-spacing: -1.5px;
            font-weight: 800;
            font-style: italic;
            font-size: 52px;
            max-width: 680px;
            text-transform: uppercase;
            
            @media screen and (max-width: $bp-SM) {
                font-size: 31px;
                max-width: 310px;
                padding-top: 26px;
                padding-left: 20px;
            }
            @media screen and (max-width: $bp-SM) and (max-height: 800px) {
                font-size: 31px;
                max-width: 280px;
            }
            @media screen and (min-width: 768px) and (max-width: 1025px) {
                font-size: 50px;
                padding-top: 70px;
            }
        }
    }

    .body {
        position: relative;
        z-index: 8;

        .custom-nav {
            display: flex;
            justify-content: space-between;
            width: 790px;
            position: absolute;
            top: 250px;
            transform: translateY(-50%);
            z-index: 9;
            @media screen and (max-width: 1025px) {
                width: 97%;
            }
            @media screen and (max-width: $bp-SM) {
                top: 126px;
                margin-left: -2%;
            }

            img {
                @media screen and (max-width: $bp-SM) {
                    width: 30px;
                }
            }

            .owl-next,
            .owl-prev {
                background: none;
                border: none;
                @include transition();
                &:hover {
                    @include scale(1.1);
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__carousel {
        min-height: 100%;
        margin-top: -55px;

        .item {
            display: flex;
            justify-content: flex-end;
            width: 99.9vw;
            overflow: hidden;
        }

        &-item {
            display: flex;
            position: relative;
            width: 100%;
            margin-left: auto;
            overflow: visible;
            @media screen and (max-width: 1025px) {
                flex-direction: column;
            }

            .caption {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-left: 230px;
                font-family: 'Special Elite', cursive;
                left: 0;
                padding-top: 170px;

                @media screen and (max-width: 1025px) {
                    padding-left: 205px;
                }
                @media screen and (max-width: $bp-SM) {
                    padding-left: 110px;
                    padding-top: 80px;
                }

                .title {
                    position: relative;
                    color: #F8F8F8;
                    font-size: 60px;
                    margin-bottom: 33px;
                    max-width: 540px;

                    @media screen and (max-width: $bp-SM) {
                        font-size: 36px;
                        padding-top: 16px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1025px) {
                        font-size: 70px;
                    }

                    &.lg{
                        margin-right: -70px;
                        
                        @media screen and (max-width: $bp-SM){
                            font-size: 30px;
                            max-width: 90%;
                            margin-right: 0;
                            max-width: 200px;
                        }
                    }

                }

                .desc {
                    font-size: 18px;
                    color: #FFFFFF;
                    font-weight: lighter;
                    letter-spacing: 0.2px;

                    @media screen and (max-width: 1025px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width: $bp-SM) {
                        font-size: 14px;
                        max-width: 200px;
                        margin-top: -15px;
                        padding-right: 20px;
                    }
                    
                    @media screen and (min-width: 768px) and (max-width: 1025px) {
                        font-size: 26px;
                    }
                }

                .number {
                    position: absolute;
                    top: 15px;
                    left: -138px;
                    background-color: black;
                    color: $color-primary;
                    font-size: 90px;
                    padding: 0 20px;
                    @media screen and (max-width: $bp-SM) {
                        font-size: 53px;
                        left: -65px;
                        padding: 0 6px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 1025px) {
                        font-size: 105px;
                    }

                    &.lg {
                        margin-left: -9%;
                        padding-right: 10px;

                        @media screen and (max-width: $bp-SM){
                            font-size: 43px;
                            left: -53px;
                            padding: 0px;
                        }
                        
                    }

                }
            }

            .img {
                display: flex;
                align-items: center;
                height: 610px;
                @media screen and (max-width: 1025px) {
                    height: 420px;
                }
                @media screen and (max-width: $bp-SM) {
                    height: 230px;
                }
                @media screen and (min-width: 768px) and (max-width: 1025px) {
                    height: 500px;

                }

                img {
                    position: absolute;
                    right: 17px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 8;
                    width: 500px;

                    @media screen and (max-width: 1300px){
                        width: 450px;
                    }

                    @media screen and (max-width: 1200px){
                        width: 360px;
                        top: 50%;
                    }

                    @media screen and (max-width: 1025px) {
                        top: unset;
                        bottom: 0;
                        right: 0;
                        transform: unset;
                    }


                    @media screen and (max-width: $bp-SM) {
                        width: 200px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1025px) {
                        width: 500px;
                    }

                }
            }
        }
    }
}
