.crime{
    position: relative;
    min-height: 100vh;
    background-color: black;

    &::after{
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100vw;
        height: 7px;
        background-color: $color-primary;
    }
    
    .container{
        min-height: 100vh;
        padding-left: 70px;

        @media screen and (max-width: $bp-SM){
            padding-left: 40px;
            padding-right: 30px;
        }
        
    }
    
    .scroll {
        position: absolute;
        bottom: 30px;
        left: 100px;
        z-index: 8;
        @include transition();

        @media screen and (max-width: 768px){
            left: 50px;
        }

        @media screen and (max-width: $bp-SM){
            left: 40px;
            bottom: 16px;
        }
        
        
        &:hover {
            bottom: 30px;
        }
        
        img {
            width: 23px;

            @media screen and (max-width: 768px){
                width: 27px;
            }

            @media screen and (max-width: $bp-SM){
                width: 17px;
            }

        }
    }
    

    &__body{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
        padding-left: 10px;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 93px;

        @media screen and (max-width: 768px){
            padding-bottom: 250px;
        }

        @media screen and (max-width: $bp-SM){
            padding-bottom: 90px;
        }

        .content{
            max-width: 605px;

            @media screen and (max-width: $bp-SM){
                max-width: 800px;
            }

            @media screen and (max-width: $bp-SM) and (max-height: 800px){
             
            }

        }

        .title{
            font-size: 50px;
            font-weight: 800;
            font-style: italic;
            text-transform: uppercase;
            color: $color-primary;
            max-width: 1000px;

            @media screen and (max-width: $bp-SM){
                font-size: 30px;
                padding-top: 0px;
            }
            
            @media screen and (max-width: $bp-SM) and (max-height: 800px){
                font-size: 27px;
                max-width: 3590px;
                padding-top: 30px;
            }
        }
        
        .desc{
            font-family: 'Special Elite', cursive;
            font-size: 20px;
            color: #fff;
            padding-left: 30px;
            padding-top: 17px;
            
            @media screen and (max-width: 768px){
                max-width: 500px;
                margin-left: auto;
            }

            @media screen and (max-width: $bp-SM){
                max-width: 280px;
                font-size: 19px;
            }

            @media screen and (max-width: $bp-SM) and (max-height: 800px){
                font-size: 17px;
                max-width: 260px;
            }
        }
    }
}