.documentario{
    position: relative;
    min-height: 100vh;
    background-color: #F8F8F8;

    &::after{
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 100vw;
        height: 7px;
        background-color: $color-primary;
    }
    
    .container{
        min-height: 100vh;
        padding-left: 70px;

        @media screen and (max-width: $bp-SM){
            padding-left: 40px;
        }
    }
    
    .scroll {
        position: absolute;
        bottom: 20px;
        left: -40px;
        z-index: 8;
        @include transition();

        @media screen and (max-width: 768px){
            left: 50px;
        }

        
        @media screen and (max-width: $bp-SM){
            left: unset;
            right: 30px;
            bottom: -1px;
        }
        
        &:hover {
            bottom: 30px;
        }
        
        img {
            width: 20px;

            @media screen and (max-width: 768px){
                width: 24px;
            }

            
            @media screen and (max-width: $bp-SM){
                width: 15px;
            }
        }
    }
    
    &__header{
        padding-top: 100px;
        margin-bottom: 50px;

        @media screen and (max-width: $bp-SM){
            padding-top: 70px;
            margin-bottom: 0px;
        }

        .title{
            font-size: 45px;
            font-weight: 800;
            font-style: italic;
            text-transform: uppercase;
            color: $color-primary;
            max-width: 1000px;

            @media screen and (max-width: 768px){
                font-size: 40px;
            }

            @media screen and (max-width: $bp-SM){
                font-size: 30px;
                max-width: 310px;
                padding-top: 0;
            }
            
            @media screen and (max-width: $bp-SM) and (max-height: 800px){
                font-size: 27px;
                max-width: 280px;
            }
        }
    }

    &__body{
        padding-left: 10px;

        @media screen and (max-width: 768px){
            padding-left: 110px;
            padding-bottom: 30px;
        }

        @media screen and (max-width: $bp-SM){
            padding-left: 0;
        }
        
        @media screen and (max-width: $bp-SM) and (max-height: 800px){

        }

        .desc{
            font-family: 'Special Elite', cursive;
            font-size: 20px;
            max-width: 425px;

            @media screen and (max-width: 768px){
                font-size: 21px;
            }

            @media screen and (max-width: $bp-SM){
                max-width: 260px;
                font-size: 17px;
                margin-top: -12px;
            }

            @media screen and (max-width: $bp-SM) and (max-height: 800px){
                font-size: 17px;
                max-width: 260px;
            }
        }
    }

    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 92%;
        margin: 0 auto;
        border: 1px solid $color-primary;
        padding: 26px;
        @include transition();

        @media screen and (max-width: 768px){
            margin-left: -2px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: $bp-SM){
            width: 85%;
            margin-left: -3%;
            padding: 10px;
        }

        &:hover{
            padding: 17px;
            @include scale(1.04);
        }

        img{
            width: 100%;
        }
    }
}