.episodios {
    position: relative;
    max-width: 100vw;

    @media screen and (max-width: $bp-SM){
        padding-bottom: 100px;
    }

    .textura {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        pointer-events: none;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 99vw;
            height: 100vh;
        }
    }

    &__main {
        position: relative;
        overflow: hidden;
        height: 840px;
        padding-top: 60px;

        @media screen and (max-width: 768px){
           height: auto;
           padding-top: 0;
        }

        .banner {
            position: absolute;
            z-index: -1;
            width: 1200px;

            @media screen and (max-width: 768px){
                width: 510px;
            }
        }

        .container {
            position: relative;
            z-index: 3;
            height: 100%;
        }

        .scroll {
            position: absolute;
            bottom: -20px;
            left: 30px;
            @include transition();

            @media screen and (max-width: 768px){
                left: 20px;
                bottom: -110px;
            }

            @media screen and (max-width: $bp-SM){
                left: 8px;
                bottom: -60px;
            }
            

            &:hover {
                bottom: 0px;
            }

            img {
                width: 40px;

                @media screen and (max-width: 768px){
                    width: 47px;
                }

                @media screen and (max-width: $bp-SM){
                    width: 30px;
                }
                
            }
        }
    }

    &__tabs {
        
        @media screen and (max-width: 768px){
            padding-left: 100px;
        }

        @media screen and (max-width: $bp-SM){
            padding-left: 30px;
        }
        

        &-item {
            position: absolute;
            bottom: 0;
            width: 560px;
            background-color: #fff;
            border: 1.8px solid black;
            transition: all 0.4s;
            padding-left: 40px;

            @media screen and (max-width: 768px){
                width: 100%;
                position: relative;
                bottom: unset;
                left: unset !important;
                right: unset !important;
                height: auto !important;
                max-height: 120px !important;
                border-width: 0.5px;

                @media screen and (max-width: $bp-SM){
                   max-height: 90px !important;
                   padding-left: 15px;
                   padding-top: 18px;
                }
                
                &:hover, &.active{
                    max-height: 1000px !important;
                    min-height: 400px !important;

                    @media screen and (max-width: $bp-SM){
                        min-height: 270px !important;
                    }
                }
            }

            &:last-child{
                @media screen and (max-width: 768px){
                    max-height: 400px !important;
                }
            }

            &:first-child{
                left: 180px;
                height: 468px;

                &:hover{
                    height: 548px;
                }
            }

            &:nth-child(2){
                height: 377px;
                right: 45px;

                &:hover{
                    height: 518px;
                }
            }

            &:nth-child(3){
                height: 295px;
                left: 120px;

                &:hover{
                    height: 399px;
                }
            }

            &:nth-child(4){
                height: 377px;
                right: 120px;
                height: 218px;

                &:hover{
                    height: 260px;
                }
            }

            &:hover, &.active{
                background-color: $color-primary;

                .body{
                    color: #fff;
                    transform: translateY(0px);
                    opacity: 1;

                    p{
                        color: #fff;
                        @include transition();
                    }

                    .more{
                        background-color: black;
                    }
                }

                .header{
                    .title{
                     
                        span{
                            color: #fff;
                        }
                    }
                }
            }
            
            .header{
                padding-top: 43px;

                @media screen and (max-width: $bp-SM){
                    padding-top: 20px;
                }
                
                
                .title{
                    font-family: 'Special Elite', cursive;
                    text-transform: uppercase;
                    font-weight: bold;
                    @include transition();

                    @media screen and (max-width: 768px){
                        font-size: 33px;
                    }

                    @media screen and (max-width: $bp-SM){
                        font-size: 22px;
                    }
                    
                    span{
                        color: $color-primary;
                        font-weight: lighter;
                        @include transition();
                    }
                }
            }

            .body{
                transform: translateY(20px);
                opacity: 0;
                @include transition();

                .desc{
                    font-family: 'Special Elite', cursive;
                    font-size: 19px;
                    letter-spacing: 0.4px;
                    max-width: 350px;
                    margin: 12px 0;

                    @media screen and (max-width: 768px){
                        font-size: 22px;
                        max-width: 300px !important;
                    }

                    @media screen and (max-width: $bp-SM){
                        font-size: 18px;
                        max-width: 250px !important;
                    }
                    
                }

                .more {
                    position: relative;
                    display: flex;
                    align-items: center;
                    background-color: $color-primary;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    font-style: italic;
                    color: #fff;
                    border: none;
                    padding: 6px 20px;
                    color: #fff;
                    transition: all 0.4s;

                    @media screen and (max-width: 768px){
                        font-size: 20px;
                        margin-top: 10px;
                    }
    
                    @media screen and (max-width: $bp-SM){
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: #fff;
                        color: $color-primary;
    
                        .arrows {
                            img {
                                &:nth-child(2) {
                                    left: 22px;
                                }
                                &:nth-child(3) {
                                    left: 40px;
                                }
                            }
                        }
                    }
    
                    .arrows {
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        right: -25px;
                        top: 12px;
    
                        img {
                            width: 14px;
                            transition: all 0.4s;
                            filter: brightness(0) invert(1);

                            &:nth-child(2) {
                                position: absolute;
                                left: 0;
                            }
                            &:nth-child(3) {
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__midia {
        display: flex;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        height: 454px;

        @media screen and (max-width: 768px){
            flex-direction: column;
            height: auto;
        }

        .header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: $color-primary;
            width: 30%;
            height: 100%;

            @media screen and (max-width: 768px){
                width: 100%;
                justify-content: flex-start;
                padding: 50px 0;
                padding-bottom: 30px;
                padding-left: 60px;
            }

            @media screen and (max-width: $bp-SM){
                padding-left: 40px;
                padding-top: 30px;
                padding-bottom: 15px;
            }

            .title {
                font-family: 'Special Elite', cursive;
                font-size: 48px;
                color: #fff;
                padding-right: 35px;

                @media screen and (max-width: 768px){
                    font-size: 64px;
                }

                @media screen and (max-width: $bp-SM){
                    font-size: 40px;
                }
                
            }
        }

        .content {
            width: 70%;
            background-color: black;
            height: 100%;
            padding-left: 60px;
            padding-top: 72px;

            @media screen and (max-width: 768px){
                width: 100%;
            }

            @media screen and (max-width: $bp-SM){
                margin-left: -15px;
            }
        }

        &-carousel {
            width: 100%;

            @media screen and (max-width: 768px){
                padding-bottom: 30px;
            }

        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .more {
                position: relative;
                display: flex;
                align-items: center;
                background-color: $color-primary;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: bold;
                font-style: italic;
                color: #fff;
                border: none;
                padding: 7px 25px;
                color: #fff;
                transition: all 0.4s;

                @media screen and (max-width: $bp-SM){
                    font-size: 19px;
                }

                &:hover {
                    background-color: #fff;
                    color: $color-primary;

                    .arrows {
                        img {
                            &:nth-child(2) {
                                left: 25px;
                            }
                            &:nth-child(3) {
                                left: 45px;
                            }
                        }
                    }
                }

                .arrows {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    right: -30px;
                    top: 12px;

                    img {
                        width: 17px;
                        transition: all 0.4s;
                        &:nth-child(2) {
                            position: absolute;
                            left: 0;
                        }
                        &:nth-child(3) {
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }

            .title {
                font-size: 20px;
                color: #fff;

                @media screen and (max-width: 768px){
                    font-size: 22px;
                    margin-bottom: 15px;
                }

                @media screen and (max-width: $bp-SM){
                    font-size: 20px;
                }
            }

            .desc {
                font-family: 'Special Elite', cursive;
                color: #fff;
                font-size: 20px;
                max-width: 390px;

                
                @media screen and (max-width: 768px){
                    font-size: 22px;
                    margin-bottom: 15px;
                    max-width: 430px;
                }

                @media screen and (max-width: $bp-SM){
                    font-size: 19px;
                }
            }
        }

        .owl-dots {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15px;

            @media screen and (max-width: 768px){
                margin-top: 20px;
            }

            @media screen and (max-width: $bp-SM){
                margin-top: 0px;
            }

            @media screen and (max-width: $bp-SM){
                .owl-dot{
                    display: block;
                    margin-right: 27px;
                    width: 11px;
                    height: 11px;
                }
            }
        }

        .custom-nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
            margin-right: 200px;
            margin-bottom: 80px;

            @media screen and (max-width: 768px){
                justify-content: flex-start;
                margin-bottom: 80px;
            }

            @media screen and (max-width: $bp-SM){
                margin-bottom: 60px;
                @include scale(0.95)
            }

            .bar {
                margin: 0 30px;
                width: 150px;
            }

            .owl-next,
            .owl-prev {
                background: none;
                border: none;
                @include transition();
                &:hover {
                    @include scale(1.1);
                }
                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }

                img {
                    width: 21px;
                }
            }
        }
    }
}
