.faq {
    display: flex;
    flex-direction: column;

    .container{
        @media screen and (max-width: 768px){
            max-width: 600px !important;
            padding: 0 !important;
        }
    }

    &__header {
        padding-top: 30px;
        padding-bottom: 23px;
        margin-bottom: 80px;

        @media screen and (max-width: $bp-MD){
            margin-bottom: 70px;
        }

        .content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;

            .bar {
                position: relative;
                width: 65%;
                overflow: hidden;
                height: 17px;
                margin-right: 21px;
                margin-top: 6px;

                
                @media screen and (max-width: $bp-XL){
                    width: 63%;
                    margin-right: 20px;
                }
                
                @media screen and (max-width: $bp-LG){
                    width: 40%;
                    margin-right: 40px;
                    margin-top: 0;
                }

                @media screen and (max-width: $bp-MD){
                    margin-right: 20px;
                    height: 20px;
                }

                img {
                    position: absolute;
                    top: 0;
                    width: 700px;

                    @media screen and (max-width: $bp-MD){
                        width: 500px;
                        margin-top: 3px;
                    }
                }
            }

            .title {
                font-size: 134px;
                text-transform: uppercase;
                color: #E5432F;
                font-style: italic;

                @media screen and (max-width: $bp-XL){
                    font-size: 113px;
                }

                @media screen and (max-width: $bp-MD){
                    font-size: 90px;
                }
            }
        }
    }

    &__body {
        background-color: black;
        
        .content {
            transform: translateY(-70px);
            padding-bottom: 35px;

            .simplebar-track {
                position: absolute;
                pointer-events: all;
                right: -20px;
            }

            .simplebar-scrollbar{
                position: relative;
                opacity: 1 !important;
                visibility: inherit !important;
                display: block !important;
                cursor: pointer;
                z-index: 10;

                &::before{
                    background-color: $color-primary !important;
                }
            }
        }
    }

    &__item {
        background-color: #fff;
        border: 1.6px solid $color-primary;
        padding: 28px 55px 7px;

        @media screen and (max-width: $bp-MD){
            padding-left: 32px;
        }

        &:not(:first-child) {
            border-top: none;
        }

        .header {
            position: relative;
            background: none;
            font-family: 'Special Elite', cursive;
            border: none;
            padding-left: 0;
            font-size: 22px;
            font-weight: bold;
            padding-right: 30px;
            text-align: left;
            padding-bottom: 20px;
            width: 100%;

            @media screen and (max-width: $bp-MD){
                font-size: 18px;
                padding-bottom: 15px;
            }

            @media screen and (max-width: $bp-XL) {
                font-size: 17px;
                padding-right: 40px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 30%;
                right: -23px;
                width: 36px;
                height: 20px;
                background-image: url("../../images/ico/setinha-bottom.svg");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all 0.4s;

                @media screen and (max-width: $bp-XL) {
                    width: 32px;
                    top: 25%;
                }

                @media screen and (max-width: 768px){
                    top: 8%;
                }
            }

            &[aria-expanded="true"] {
                &:after {
                    transform: rotate(-180deg);
                }
            }

            &:focus {
                outline: none;
            }
        }

        .body {
            font-family: 'Special Elite', cursive;
        }
    }
}


.animated{
    animation-duration: 2s !important;
}