.home{
    position: relative;
    z-index: 15;
    height: 100vh;

    @media screen and (max-width: $bp-SM){
        height: calc(100vh - 90px);
    }

    .scroll {
        position: absolute;
        bottom: 20px;
        left: 61.8%;
        @include transition();

        @media screen and (max-width: 768px){
            left: 47%;
        }

        @media screen and (max-width: $bp-MD){
            left: 38%;
        }

        @media screen and (max-width: 769px) and (min-height: 1023px){
            left: 49.7%;
        }

        &:hover {
            bottom: 30px;
        }

        img {
            width: 25px;

            @media screen and (max-width: 768px){
                width: 19.6px;
            }

            @media screen and (max-width: $bp-MD){
                width: 18px;
            }

            @media screen and (max-width: $bp-SM) and (max-height: 810px){
                width: 14px;
            }
        }
    }

    .banner{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100vw;

        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
}

.home-pilling{
    z-index: 15 !important;
}