.numeros{
    position: relative;
    min-height: 100vh;
    background-color: #fff;

    &::after{
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100vw;
        height: 7px;
        background-color: $color-primary;
    }
    
    .container{
        min-height: 100vh;
        padding-left: 70px;
    }
    
    .scroll {
        position: absolute;
        bottom: 30px;
        right: 260px;
        z-index: 8;
        @include transition();

        @media screen and (max-width: 768px){
            right: 50px;
        }
        
        &:hover {
            bottom: 40px;
        }
        
        img {
            width: 21px;

            @media screen and (max-width: 768px){
                width: 24px;
            }
        }
    }
    

    &__body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 155px;

        @media screen and (max-width: 768px){
            padding-bottom: 250px;
        }

        .title{
            font-size: 50px;
            font-weight: 800;
            font-style: italic;
            text-transform: uppercase;
            color: $color-primary;
            max-width: 700px;
        }
        
        .desc{
            font-family: 'Special Elite', cursive;
            font-size: 20px;
            color: #646464;
            padding-top: 17px;
            max-width: 605px;

            @media screen and (max-width: 768px){
                max-width: 500px;
            }
        }
    }
}