.sobre {
    display: flex;
    align-items: center;
    background-color: #fff;

    .container {
        position: relative;
        height: 100%;
    }

    .scroll {
        position: absolute;
        bottom: 10px;
        transition: all 0.4s;
        overflow: hidden;

        @media screen and (max-width: $bp-MD){
            right: 40px;
            bottom: 0;
        }
        
        &:hover{
            margin-bottom: 15px;
        }
        
        img {
            width: 34px;
            
            @media screen and (max-width: $bp-MD){
                transform: translateY(70px);
                width: 28px;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 100vh;
        width: 100%;
        margin-top: -30px;

        @media screen and (max-width: $bp-LG){
            max-width: 400px;
            margin:  0 auto;
            padding-bottom: 140px;
        }
       
        .caption {
            margin: 0 auto;
            max-width: 410px;
            padding-bottom: 70px;

            .content{
                transform: translateX(-80px);

                @media screen and (max-width: $bp-LG){
                    transform: none;
                }
            }

            .title {
                font-size: 50px;
                color: $color-primary;
                font-style: italic;
                margin-bottom: 23px;
            }

            .desc {
                color: $color-secondary;
                font-size: 20px;
                font-family: 'Special Elite', cursive;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: -130px;

        @media screen and (max-width: $bp-LG){
            margin-top: -40px;
            justify-content: flex-start;
        }

        .item {
            transition: all 0.4s;

            &:not(:last-child){
                margin-right: 11px;
            }

            &:hover{
                @include scale(1.1);
            }

            img {
                width: 38px;
            }
        }
    }
}
